*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
#logo,h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
    line-height: 120%;
}

section{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
h1{
    font-size: 1.72rem;
    margin-bottom: 1.5rem;
}
h2{
    font-size: 1.44rem;
    margin-bottom: 1.25rem;
}
h3{
    margin-top: 1.25rem;
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}
h4{
    font-size: 1rem;
}


.button{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.2s ease-in;
}


.button-primery{
    background-color: black;
    color: white;
}
.button-secondary{
    border: 1px solid black;
    color: black;

}
.butten-holder{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.button-primery:hover{
    background-color: rgb(111, 111, 111);
}
.button-secondary:hover{
    background-color: rgb(45, 45, 45);
    color: white;
}




p{
    font-size: 1rem;
    color: rgb(94, 94, 94);
    line-height: 150%;
}

header{
    height: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#logo{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;

}
#menuIcon{
    background-color: white;
    border: none;
}

nav{
  display: none;   
}

#section-about{
    background-color: rgb(226, 226, 226);
}

#image{
    width: 100%;
}

.blog{
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}
.blog p{
    font-size: 0.9rem;
}
.blog-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer{
    background-color: gray;
}



@media only screen and (min-width: 576px) {
    .blog-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (min-width: 768px) {
    .blog-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
     #menuIcon{
        display: none;
     }
     nav{
        display: block;
     }
     #navBar{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        list-style: none;

     }
     #navBar a{
        text-decoration: none;
        color: rgb(85, 85, 85);
     }
     #navBar a:hover{
        text-decoration: underline;
     }
  }

  @media only screen and (min-width: 992px) {
    .blog-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  @media only screen and (min-width: 1200px) {
    blog-list{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    h1{
        font-size: 2.98rem;
    }
    h2{
        font-size: 2.47rem;
    }
    h3{
        font-size: 2.07rem;
    }
    h4{
        font-size: 1.7rem;
    }
  }